#p1{
    color :#85a9cd ;
  }
  .H1{
    color :#5D7599 ;
    font-weight: bold;
  }
   #p2{
    color :#85a9cd ;
  }
  .H2{
    color :#5D7599 ;
    font-weight: bold;
  }
  #p3{
    color :#85a9cd ;
  }
  .H3{
    color :#5D7599 ;
    font-weight: bold;
  }