#p1{
    font-style: italic ;
    font-weight: bold;
  }
  .p2{
    font-style: italic ;
    font-weight: bold;
  }
   #l1{
    color: orange;
    font-style: italic ;
    font-weight: bold;
  }
  .l2{
    color: brown;
    font-style: italic ;
    font-weight: bold;
  }
  