#d1{
    color :yellow ;
  }
  #d2{
    color :#ea4686 ;
  }
  #d3{
    color :#58d239 ;
  }
  #d4{
    color :orange ;
  }
  #d5{
    color :blue ;
  }
  #d6{
    color :#7f59b0 ;
  }
  #d7{
    color :red ;
  }